---
import { Image } from "astro:assets";
import photoWide from "../images/photo_wide.jpg";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col">
    <figure class="relative">
      <Image
        class="object-cover object-center w-full lg:h-256 h-128"
        src={photoWide}
        alt="The band 'Grand Prismatic Spring' standing in an open space, while being illuminated by colorful lights."
      />
      <figcaption class="absolute right-2 bottom-2 text-sm">
        &copy; Janis Birszwilks
      </figcaption>
    </figure>
  </div>
</Layout>
